# --- Postgres ---
POSTGRES_USER=dt_user
POSTGRES_PASSWORD=dt_pass
POSTGRES_DB=dt_db
POSTGRES_PORT=15432

# --- Backend (FastAPI) ---
API_PORT=18000
ADMIN_USER=admin
ADMIN_PASS=admin123
SECRET_KEY=super-secret-change-me

# --- Nginx (reverse proxy) ---
NGINX_PORT=18081

# --- Frontend (Next.js) ---
FRONTEND_PORT=13000
# URL, который будет использовать браузер (с хоста) для запросов к API
NEXT_PUBLIC_API_BASE_URL=

# Backend CORS/redirect
FRONTEND_URL=http://localhost:18081
CORS_ORIGINS=http://localhost:18081,http://localhost:13000
